.inp {
  margin-top: 10px;
  text-align: end;
  label {
    font-weight: bold;
  }
  input {
    text-align: center;
    width: 15%;
    padding: 4px 0 4px 4px;
    font-size: 1rem;
    font-weight: bold;
  }
}
